<!-- VIEWS -->

<!-- form to create new book -->
<!-- action:url where form goes to -->

<!-- new book route file -->
<h2>New Book</h2>
<form action="/books" method="POST" enctype="multipart/form-data">

    <!-- import -->
    <%- include('_form_fields')  %>

    <!-- cancel button send back to all authors page -->
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>

</form>

<!-- use anchor tag to link things, button use as interact with forms or other objects -->
<!-- install body parser, npm i body-parser .easy to access diff input element from server -->