<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mybrary2</title>
</head>

<body>

  <!-- .. means out 2 steps folder:from layout to partials -->
  <%- include('../partials/header.ejs')  %>
  <%- body %>

</body>

</html>