<!-- use _ to indicatea as partial files, 
naming convention.easy to track which file from server and from partials
partial file, not actual file render from server -->

<!-- name is how the server get the data from object
when form sent info to server, what would be input under -->

<!-- when get back from server, would call that named body.name is value of the input 
example: "name2" then body.name2 -->

<label>Name</label>
<input type="text" name="name" value="<%= author.name  %>"> 